<br>
<div class="container">
    <a href="/index"><h2 id="title-font" class="text-center">THE PAPER SCRAPER</h2></a>
    <br>
    <div class="text-center"><button class="w3-button w3-teal" id="news-btn">Get News</button></div>
    <p id="wait">&nbsp;</p>
    <br><br>
    <div id="articles">
        {{#each articles}}
            <a href="{{this.url}}" target="_blank"><h3 id="{{this._id}}">{{this.headline}}</h3></a>
            {{#if this.author}}<h4>By {{this.author}}</h4>{{/if}}
            <h5>{{this.catagory}}</h5>
            <p class="summary">Summary: <i>"{{this.summary}}"</i></p>
            <p>Source: <a href="{{this.url}}" target="_blank">The Chicago Tribune</a></p>
            <br>
            <h5>Comments</h5>
            <br>
            <hr>
            <br>
        {{/each}}
    </div>
</div>